*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


.dev-1{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dev-2{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content{
  width: 60%;
  text-align: center;
  padding: 15px;
}

.content h2{
  margin-bottom: 15px;
}
.president img{
  border: 4px solid white;
}
/*form*/
.contact-form{
  background: #fff;
  width: 70%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 3%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}